.box{
background-color: white;
    width: 90vw;
    min-height: 75vh;
    margin-left: 5vw;
    margin-top: 5vh;
    border-radius: 20px;
    box-shadow: 10px 10px 14px -1px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 14px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 14px -1px rgba(0, 0, 0, 0.75);
    padding:1vh;

    
}
.form{
     display:flex;
}
.button {

    font-size: 15px;
    color: #caf0f8;
    padding-left: 20px;
    padding-right: 20px;
    background: linear-gradient(to bottom right, #0077b6, #00b4d8, #90e0ef);
    border: none;
    height: 50px;
    width: 220px;
    border-radius: 20px;
    cursor: pointer;
    float:right;
    margin-right: 5vw;
    margin-bottom: 2vh;
  
}
.row1{
    width: 50%;
    margin-left: 4.5vw;
    justify-content: center;
    margin-right: 3vw;
}
.row2{
    margin-top: 5vh;
    width: 50%;
    justify-content: center;
}
.row1 .item{
    margin-top: 3vh;
}
.row2 .item{
    margin-bottom: 3vh;
}
.error{
    color:red;
}
.name{
    font-size:1.5rem ;
    margin-top: 0;
    color:#0077b6;
    font-weight: bolder;
    margin-bottom:2vh;
}
.heading{
    font-size: 2rem;
}