.thumbnail{
    width: 19vw;
    height: 300px;
    background-color: white;
    border-radius:20px;
    margin-top:10vh;
    color:#0077b6;
    text-align: center;
    box-shadow: 0px 2px 21px 1px rgba(0, 0, 0, 0.66);
        -webkit-box-shadow: 0px 2px 21px 1px rgba(0, 0, 0, 0.66);
        -moz-box-shadow: 0px 2px 21px 1px rgba(0, 0, 0, 0.66);
   /* box-shadow: 0px 2px 14px 6px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: 0px 2px 14px 6px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 2px 14px 6px rgba(0, 0, 0, 0.75);*/
        margin-left:50px;
    font-size:13px;
    
}
.thumbnail:hover{
    box-shadow: 0px 2px 14px 6px rgba(0, 0, 0, 0.75);
            -webkit-box-shadow: 0px 2px 14px 6px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 0px 2px 14px 6px rgba(0, 0, 0, 0.75);
            cursor: pointer;
}
.image{
    width:19vw;
    height: 200px;
    border-radius:20px 20px 0 0;
}
.imageDiv{
    width: 250px;
    height: 200px;
}
a{
    text-decoration: none;
}