.box{
    background-color: white;
    border-radius: 20px;
    width: 90vw;
    margin:auto;
    box-shadow: 10px 10px 14px -1px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: 10px 10px 14px -1px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 10px 10px 14px -1px rgba(0, 0, 0, 0.75);
}
 h1{
    text-align: center;
    color: #0077b6;

}
.usluga{
    display:flex;
    color:#0077b6;
}
.usluga p{
    font-size: 18px;
    margin-left:7vw;
    margin-top:0;
}
.image{
    min-width: 20vw;
    min-height: 10vh;
    border:black;
}
.image img{
    width: 25vw;
    height: 50vh;
}
