@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;600;700&family=Courgette&family=Nunito+Sans:wght@300&family=Nunito:wght@200&display=swap');
body {
  margin: 0;
  font-family: 'Caveat', cursive;
    font-family: 'Courgette', cursive;
    font-family: 'Nunito', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*background:linear-gradient(to bottom left,#90e0ef,#caf0f8 );*/
  background-image: url("./images/background1.jpg");

  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.a{
  color:blue;
}